<template>
  <main class="wrapper">
    <a-steps :current="1" size="small">
      <a-step title="创建Code Challenge" />
      <a-step title="用户发起授权" />
      <a-step title="第三方授权页面" />
      <a-step title="用户授权成功" />
    </a-steps>

    <article class="content">
      <h3 :style="{ margin: '16px 0' }">
        模拟Application向授权服务器发送授权请求。
      </h3>

      <a-list
        class="lists"
        :grid="{
          column: 1,
        }"
        :data-source="lists"
      >
        <template #renderItem="{ item }">
          <a-list-item>
            <a-card :title="item.text">
              <ul v-if="item.warnInfo">
                <li v-for="warnInfo in item.warnInfo" :key="warnInfo">
                  {{ warnInfo }}
                </li>
              </ul>
            </a-card>
          </a-list-item>
        </template>
      </a-list>

      <a-button type="primary" @click="getRegisterClient">发起授权</a-button>
    </article>
  </main>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { useGlobalProperties } from "@/helper/useGlobalProperties";
import { CODE_CHALLENGE_CLIENTS_RESPONSE } from "@/interface/state";

export default defineComponent({
  name: "ApplicationPkceApply",

  setup() {
    const lists = ref([
      {
        text: "Step1. 用户在Application中发起授权流",
        warnInfo: "",
      },
      {
        text: "Step 2. 请求Application后端服务，返回授权平台相关信息，如：clientId、clientSecret、redirectUri、state和后台服务生成的codeChallenge",
        warnInfo: [
          "clientSecret：用于验证的机密信息，类似于密码。不能暴露给前端页面，攻击者可以使用这些信息来模拟客户端并在未经授权的情况下访问受保护的资源。这可能会导致数据泄露、身份盗窃等安全问题。为了确保应用程序和用户的安全性，应该只在后端服务器上使用，并且需要妥善保护。",
          "clientId：用于标识Application的唯一标识符。由授权服务器分配给Application的，并且在进行OAuth 2.0授权流程时需要使用。当Application向授权服务器请求访问令牌时，clientId用于标识Application的身份。授权服务器使用clientId来验证客户端的身份，并确定客户端是否被授权访问受保护的资源。因此，clientId是OAuth 2.0中非常重要的一个参数，它确保了客户端的身份验证和授权过程的安全性.。",
          "state: 主要用于防止CSRF攻击。state是在Application发起授权请求时生成的一个随机值，并将其包含在授权请求中。Oauth Server会将该值原封不动地返回给Application，Application在收到响应后需要验证该值是否与之前发送的值相同，以确保响应来自于预期的Oauth Server",
          "authEnpoint：告诉Application跳转授权页面uri",
          "codeChallenge：可选参数，提供对 PKCE 的支持。这是Code Verifier字符串的 sha256 散列的 base64 编码版本",
        ],
      },
      {
        text: "Step 3. 前端拿到相关授权信息后拼接url，重定向至第三方授权页面",
        warnInfo: [
          "window.location.href = http://127.0.0.1:7073/pkce-authorize?response_type=code&client_id=tpaCmJBYxOJ8BtM2Dbbnxh5a&code_challenge=Q7nSV3o14qwq7mo4tCSASK4eJNAoBR1i5Sdaw_Zt2Pg&code_challenge_method=S256&state=iPv2SvkPb19yeNL2zeaT4apaJzzgaeWIckvU3kMUSloyKpaRyba1fcpVebt8-dJwGPSKpcxehz2a4SY5ZuvoSg&redirect_uri=/pkce-success;",
        ],
      },
    ]);

    const { $http } = useGlobalProperties();
    const getRegisterClient = () => {
      // Step 1. 从服务器端获取授权平台相关信息：client_id、state、code challenge
      $http
        .get("/pkceapi/getRegisterClient")
        .then(({ data = {} }) => {
          const { clientId, state, authEnpoint, challenge } =
            data as CODE_CHALLENGE_CLIENTS_RESPONSE;

          // Step 2. 构建获取用户授权URL
          const redirectUri = "/pkce-success";
          const url = `${authEnpoint}?response_type=code&client_id=${clientId}&code_challenge=${challenge}&code_challenge_method=S256&state=${state}&redirect_uri=${redirectUri}`;
          // Step 3. 重定向至授权服务器
          window.location.href = url;
        })
        .then((error: any) => {
          console.log("user get error:", error);
        });
    };

    return {
      getRegisterClient,
      lists,
    };
  },
});
</script>

<style style="less">
.wrapper {
  width: 1100px;
  margin: 20px auto;
}

.ant-card-body {
  word-wrap: break-word;
}

.content {
  margin-top: 100px;
}

.lists {
  text-align: left;
}
</style>
