<template>
  <main class="wrapper">
    <a-steps :current="0" size="small">
      <a-step title="创建Code Challenge" />
      <a-step title="用户发起授权" />
      <a-step title="第三方授权页面" />
      <a-step title="用户授权成功" />
    </a-steps>

    <article class="content">
      <h3 :style="{ margin: '16px 0' }">
        模拟授权流程前，先创建Code Verifier 和 Code
        Challenge，用于增强Authorization Code Grant流程
      </h3>

      <a-list
        class="lists"
        :grid="{
          column: 1,
        }"
        :data-source="lists"
      >
        <template #renderItem="{ item }">
          <a-list-item>
            <a-card :title="item.text">
              <ul v-if="item.warnInfo">
                <li v-for="warnInfo in item.warnInfo" :key="warnInfo">
                  {{ warnInfo }}
                </li>
              </ul>
            </a-card>
          </a-list-item>
        </template>
      </a-list>

      <a-button type="primary" @click="createCodeChallenge"
        >创建Code Challenge</a-button
      >
      <p></p>
      <a-button
        type="primary"
        :disabled="!lists[0].warnInfo.length || !lists[1].warnInfo.length"
        @click="next"
        >下一步</a-button
      >
    </article>
  </main>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { useGlobalProperties } from "@/helper/useGlobalProperties";
import { CODE } from "@/interface/state";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "ApplicationPkceApply",

  setup() {
    const lists = ref([
      {
        text: "Step1. 生成Code Verifier",
        warnInfo: [],
      },
      {
        text: "Step 2. 生成Code Challenge",
        warnInfo: [],
      },
    ]);
    const router = useRouter();
    const { $http } = useGlobalProperties();
    const createCodeChallenge = () => {
      lists.value[0].warnInfo = [];
      lists.value[1].warnInfo = [];

      // Step 1. 生成Code Verifier、Code Challenge
      $http
        .get("/pkceapi/generateCodeChallenge")
        .then(({ data = {} as any }) => {
          if (data.code === 0) {
            const { verifier, challenge } = data.data as CODE;
            lists.value[0].warnInfo.push(verifier as never);
            lists.value[1].warnInfo.push(challenge as never);
          }
        })
        .then((error: any) => {
          console.log("error:", error);
        });
    };

    const next = () => {
      if (!lists.value[0].warnInfo.length || !lists.value[1].warnInfo.length) {
        return;
      }
      router.push({
        path: "/pkce-apply",
      });
    };

    return {
      createCodeChallenge,
      lists,
      next,
    };
  },
});
</script>

<style style="less">
.wrapper {
  width: 900px;
  margin: 20px auto;
}

.content {
  margin-top: 100px;
}

.lists {
  text-align: left;
}
</style>
