<template>
  <main class="wrapper">
    <a-steps :current="1" size="small">
      <a-step title="用户发起授权" />
      <a-step title="第三方授权页面" />
      <a-step title="用户授权成功" />
    </a-steps>

    <article class="content">
      <h3 :style="{ margin: '16px 0' }">
        简单模拟授权服务器显示授权页面，用户已经输入过用户名和密码。
      </h3>

      <a-list
        class="lists"
        :grid="{
          column: 1,
        }"
        :data-source="lists"
      >
        <template #renderItem="{ item }">
          <a-list-item>
            <a-card :title="item.text">
              <ul v-if="item.warnInfo">
                <li v-for="warnInfo in item.warnInfo" :key="warnInfo">
                  {{ warnInfo }}
                </li>
              </ul>
            </a-card>
          </a-list-item>
        </template>
      </a-list>

      <a-button type="primary" @click="doApprove">同意授权</a-button>
    </article>
  </main>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { useRouter } from "vue-router";
import { useGlobalProperties } from "@/helper/useGlobalProperties";

export default defineComponent({
  name: "OauthServerApprove",

  setup() {
    const lists = ref([
      {
        text: "1. 授权页面说明",
        warnInfo: [
          "如用户在授权页面登录过（有效期内），则跳转至授权页面；否则跳转至登录页面",
        ],
      },
      {
        text: "2. 获取用户授权",
        warnInfo: [
          "http://127.0.0.1:7073/authorize?client_id=29352915982374239857&redirect_uri=/success&state=xcoiv98y2kd22vusuye3kch",
        ],
      },
      {
        text: "3. 重定向回Application，并带上code和state参数",
        warnInfo: [
          "http://127.0.0.1:7073/success?code=196783f8-94ec-4e1e-8ca8-74e7586dac24&state=xcoiv98y2kd22vusuye3kch",
        ],
      },
    ]);

    const { $http } = useGlobalProperties();
    const router = useRouter();
    const doApprove = () => {
      // 授权成功后，重定向回应用程序成功页
      const { state, redirect_uri, client_id } =
        router.currentRoute.value.query;
      $http
        .get("/api/approve", { params: { clientId: client_id } })
        .then((response: any) => {
          console.log("response:", response);
          const { data = {} } = response.data;
          const { code } = data;
          router.push({
            path: `${redirect_uri}`,
            query: {
              code,
              state,
            },
          });
        })
        .then((error: any) => {
          console.log(error);
        });
    };

    return {
      lists,
      doApprove,
    };
  },
});
</script>

<style style="less">
.wrapper {
  width: 900px;
  margin: 20px auto;
}

.content {
  margin-top: 100px;
}

.lists {
  text-align: left;
}
</style>
