<template>
  <main class="wrapper">
    <a-steps :current="1" size="small">
      <a-step title="用户发起授权" />
      <a-step title="第三方授权页面" />
      <a-step title="用户授权成功" />
    </a-steps>

    <article class="content">
      <h3 :style="{ margin: '16px 0' }">
        简单模拟授权服务器显示授权页面，要求用户输入用户名和密码。
      </h3>

      <a-list
        class="lists"
        :grid="{
          column: 1,
        }"
        :data-source="lists"
      >
        <template #renderItem="{ item }">
          <a-list-item>
            <a-card :title="item.text">
              <ul v-if="item.warnInfo">
                <li v-for="warnInfo in item.warnInfo" :key="warnInfo">
                  {{ warnInfo }}
                </li>
              </ul>
            </a-card>
          </a-list-item>
        </template>
      </a-list>

      <a-form
        :label-col="{ span: 8 }"
        :wrapper-col="{ span: 10 }"
        :model="formState"
        name="basic"
        autocomplete="off"
        @finish="onFinish"
        @finishFailed="onFinishFailed"
      >
        <a-form-item
          label="用户名"
          name="username"
          :rules="[
            { required: true, message: 'Please input your username!' },
            { type: 'email', message: 'Please input a valid email address' },
          ]"
        >
          <a-input v-model:value="formState.username" />
        </a-form-item>

        <a-form-item
          label="密码"
          name="password"
          :rules="[
            { required: true, message: 'Please input your password!' },
            { min: 7, message: 'Password should be at least 7 characters' },
          ]"
        >
          <a-input-password v-model:value="formState.password" />
        </a-form-item>

        <a-form-item :wrapper-col="{ offset: 8, span: 10 }">
          <a-button type="primary" html-type="submit">登录</a-button>
        </a-form-item>
      </a-form>
    </article>
  </main>
</template>

<script lang="ts">
import { defineComponent, reactive, ref } from "vue";
import { FormState } from "@/interface/state";
import { useRouter } from "vue-router";
import { useGlobalProperties } from "@/helper/useGlobalProperties";

export default defineComponent({
  name: "OauthServerAuthorize",
  setup() {
    const lists = ref([
      {
        text: "1. 授权页面说明",
        warnInfo: [
          "如用户在授权页面登录过（有效期内），则无需重新登录；否则跳转至登录页面",
        ],
      },
      {
        text: "2. 登录密码(写死)",
        warnInfo: ["用户名：demo@example.com", "密　码：helloworld123"],
      },
    ]);

    const { $http } = useGlobalProperties();
    const router = useRouter();
    const formState = reactive<FormState>({
      username: "",
      password: "", // 加密忽略，不是这次重点....
    });
    const query = router.currentRoute.value.query;
    const onFinish = (values: any) => {
      $http
        .post("/api/login", values)
        .then(({ data = {} as any }) => {
          if (+data.code === 0) {
            router.push({
              path: "/approve",
              query,
            });
          }
        })
        .then((error: any) => {
          console.log(error);
        });
    };

    const onFinishFailed = (errorInfo: any) => {
      console.log("Failed:", errorInfo);
    };

    return {
      lists,
      formState,
      onFinish,
      onFinishFailed,
    };
  },
});
</script>

<style style="less">
.wrapper {
  width: 900px;
  margin: 20px auto;
}

.content {
  margin-top: 100px;
}

.lists {
  text-align: left;
}
</style>
