<template>
  <main class="wrapper">
    <a-steps :current="2" size="small">
      <a-step title="创建Code Challenge" />
      <a-step title="用户发起授权" />
      <a-step title="第三方授权页面" />
      <a-step title="用户授权成功" />
    </a-steps>

    <article class="content">
      <h3 :style="{ margin: '16px 0' }">正在授权中...</h3>
    </article>
  </main>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { useRouter } from "vue-router";
import { useGlobalProperties } from "@/helper/useGlobalProperties";

export default defineComponent({
  name: "OauthServerPkceAuthorize",
  setup() {
    const router = useRouter();
    const { $http } = useGlobalProperties();
    const query = router.currentRoute.value.query;
    // Step 4. 获取用户授权：授权服务器判断用户授权状态，已经登录直接跳转至授权成功页面
    $http
      .get("/pkceapi/authorize", { params: { ...query } })
      .then(({ data = {} as any }) => {
        setTimeout(() => {
          if (+data.code === 0) {
            router.push({
              path: "/pkce-approve",
              query,
            });
          }

          if (+data.code === -1 || +data.code === -2) {
            router.push({
              path: "/pkce-login",
              query,
            });
          }
        }, 1000);
      })
      .then((error: any) => {
        console.log(error);
      });
  },
});
</script>

<style style="less">
.wrapper {
  width: 900px;
  margin: 20px auto;
}

.content {
  margin-top: 100px;
}

.ant-card-body {
  word-wrap: break-word;
}

.lists {
  text-align: left;
}
</style>
