<template>
  <main class="wrapper">
    <a-steps :current="0" size="small">
      <a-step title="通过凭证获取token" />
      <a-step title="获取token成功" />
    </a-steps>

    <article class="content">
      <h3 :style="{ margin: '16px 0' }">
        模拟Application向授权服务器发送授权请求。
      </h3>

      <a-list
        class="lists"
        :grid="{
          column: 1,
        }"
        :data-source="lists"
      >
        <template #renderItem="{ item }">
          <a-list-item>
            <a-card :title="item.text">
              <ul v-if="item.warnInfo.length">
                <li v-for="warnInfo in item.warnInfo" :key="warnInfo">
                  {{ warnInfo }}
                </li>
              </ul>
            </a-card>
          </a-list-item>
        </template>
      </a-list>

      <a-button type="primary" @click="getRegisterClient">发起授权</a-button>
    </article>
  </main>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { useGlobalProperties } from "@/helper/useGlobalProperties";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "ApplicationApply",

  setup() {
    const lists = ref([
      {
        text: "Step1. 通过client_id和clent_secret换取token",
        warnInfo: ["注意Client Credentials只能用于那些不需要用户参与的场景"],
      },
      {
        text: "Step 2. 获取token成功后，可用token来做一些授权后的操作",
        warnInfo: [],
      },
    ]);

    const { $http } = useGlobalProperties();
    const router = useRouter();
    const getRegisterClient = () => {
      // 获取token
      $http
        .get("/credentialsapi/getToken")
        .then(({ data = {} as any }) => {
          const { code, message, data: resData } = data;
          if (code !== 0) {
            console.log(code, message);
            return;
          }

          // 将访问令牌和刷新令牌保存到本地存储中
          const { refreshToken } = resData;
          localStorage.setItem("refreshToken", refreshToken);

          router.push({
            path: "/credentials-success",
          });
        })
        .then((error: any) => {
          console.log("user get error:", error);
        });
    };

    return {
      getRegisterClient,
      lists,
    };
  },
});
</script>

<style style="less">
.wrapper {
  width: 900px;
  margin: 20px auto;
}

.content {
  margin-top: 100px;
}

.lists {
  text-align: left;
}
</style>
