<template>
  <main class="wrapper">
    <a-steps :current="1" size="small">
      <a-step title="通过凭证获取token" />
      <a-step title="获取token成功" />
    </a-steps>

    <article class="content">
      <h3 :style="{ margin: '16px 0' }">获取token成功！{{ msg }}</h3>

      <a-button type="primary" @click="getExpireInStatus"
        >查看access token是否过期</a-button
      >
      <p></p>
      <a-button type="primary" @click="retry"
        >清除cookie，重新流程体验</a-button
      >
      <p></p>
      <a-button type="primary" @click="link"
        >不清除cookie，重新流程体验</a-button
      >
    </article>
  </main>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { useGlobalProperties } from "@/helper/useGlobalProperties";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "ApplicationSuccess",

  setup() {
    const { $http } = useGlobalProperties();
    const router = useRouter();
    let msg = ref("");

    const refresh = async () => {
      const refreshToken = localStorage.getItem("refreshToken");
      const params = { refreshToken };
      $http
        .post("/credentialsapi/refreshToken", params)
        .then(({ data = {} as any }) => {
          console.log("data:", data);
        })
        .then((error: any) => {
          console.log(error);
        });
    };

    // 查看access token是否过期
    const getExpireInStatus = () => {
      $http
        .get("/credentialsapi/getExpireInStatus")
        .then(async ({ data = {} as any }) => {
          const { code, data: res, message } = data;
          if (code === 401) {
            await refresh();
            return;
          }

          if (code !== 0) {
            msg.value = "access token已过期";
            return;
          }
          msg.value = "access token未过期";
        })
        .catch((error: any) => {
          console.log(error);
        });
    };

    const retry = () => {
      $http
        .post("/credentialsapi/clearCookies")
        .then(() => {
          router.push({
            path: "/credentials-apply",
          });
        })
        .then((error: any) => {
          console.log(error);
        });
    };

    const link = () => {
      router.push({
        path: "/credentials-apply",
      });
    };

    return {
      msg,
      retry,
      link,
      getExpireInStatus,
    };
  },
});
</script>

<style style="less">
.wrapper {
  width: 900px;
  margin: 20px auto;
}

.content {
  margin-top: 100px;
}

.lists {
  text-align: left;
}
</style>
