<template>
  <main class="wrapper">
    <a-steps :current="2" size="small">
      <a-step title="用户发起授权" />
      <a-step title="第三方授权页面" />
      <a-step title="用户授权成功" />
    </a-steps>

    <article class="content">
      <h3 :style="{ margin: '16px 0' }">
        模拟授权成功，返回Applictaion指定页面
      </h3>
      <a-list
        class="lists"
        :grid="{
          column: 1,
        }"
        :data-source="lists"
      >
        <template #renderItem="{ item }">
          <a-list-item>
            <a-card :title="item.text">
              <ul v-if="item.warnInfo.length">
                <li v-for="warnInfo in item.warnInfo" :key="warnInfo">
                  {{ warnInfo }}
                </li>
              </ul>
            </a-card>
          </a-list-item>
        </template>
      </a-list>

      <a-button type="primary" @click="retry"
        >清除cookie，重新流程体验</a-button
      >
      <p></p>
      <a-button type="primary" @click="link"
        >不清除cookie，重新流程体验</a-button
      >
    </article>
  </main>
</template>

<script lang="ts">
import { defineComponent, reactive } from "vue";
import { useGlobalProperties } from "@/helper/useGlobalProperties";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "ApplicationSuccess",

  setup() {
    const lists = reactive([
      {
        text: "1.Application需校验state是否合法, 防止csrf攻击",
        warnInfo: [],
      },
      {
        text: "2. 用code换取Access Token",
        warnInfo: [],
      },
    ]);

    const { $http } = useGlobalProperties();
    const router = useRouter();
    const params = router.currentRoute.value.query;

    $http
      .post("/api/exchangeAccesstoken", params)
      .then((response: any) => {
        console.log("response:", response);
        const { data = "" } = response.data;
        lists.push({
          text: "3. 获取accessToken成功，可使用accessToken授权服务的相关API了！(accessToken不可暴露给前端，此展示只是为了演示)",
          warnInfo: [data] as never,
        });
      })
      .then((error: any) => {
        console.log(error);
      });

    const retry = () => {
      $http
        .post("/api/clearCookies", params)
        .then(() => {
          router.push({
            path: "/apply",
          });
        })
        .then((error: any) => {
          console.log(error);
        });
    };

    const link = () => {
      router.push({
        path: "/apply",
      });
    };

    return {
      lists,
      retry,
      link,
    };
  },
});
</script>

<style style="less">
.wrapper {
  width: 900px;
  margin: 20px auto;
}

.content {
  margin-top: 100px;
}

.lists {
  text-align: left;
}
</style>
